:root {
    --font-family: "Livvic", "Arial", sans-serif;
    --text-color: #fff;
    --text-dark: #002529;
    --accent-red: #F67E7E;
    --accent-dark-green: #79C8C7;
    --light-green: #014E56;
    --dark-green:  #012F34;
    --green-light:  #004047;
    --green-dark: #002529;
    
}


/* FONTS */
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--font-family);
    background-color: var(--light-green);
    font-weight: 600;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* BUTTON */
.button {
    padding: 9px 33px 11px 32px;
    border: 2px solid var(--text-color);
    border-radius: 24px;
    background-color: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.button--header {
    color: var(--text-color);
    border-color: var(--text-color);
}

.button--header:hover {
    background-color: var(--text-color);
    color: var(--text-dark);
}

.button--header:active {
    opacity: 0.6;
}

/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 160px;
    height: 40px;
    object-fit: contain;
}



/* SITE-HEADER */
.site-header {
    padding-top: 70px;
    padding-bottom: 130px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 80px;
}
.site-header__inner {
    display: flex;
    align-items: center;
}

/* SITENAV */
.site-header__sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 40px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--accent-red);
}

.sitenav__link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-bottom: 250px;
}

.hero__container {
    display: flex;
}
.hero__title {
    width: 635px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.hero__title--strong {
    color: var(--accent-red);
}

.hero__info {
    width: 445px;
    flex-shrink: 1;
}
.hero__line {
    width: 50px;
    height: 4px;
    background-color:  #79C8C7;;
}

.hero__info--text {
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}
