:root {
    --font-family: "Livvic", "Arial", sans-serif;
    --text-color: #fff;
    --text-dark: #002529;
    --accent-red: #F67E7E;
    --accent-dark-green: #79C8C7;
    --light-green: #014E56;
    --dark-green:  #012F34;
    --green-light:  #004047;
    --green-dark: #002529;
    
}


/* FONTS */
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
    url('../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--font-family);
    background-color: var(--light-green);
    font-weight: 600;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* BUTTON */
.button {
    padding: 9px 33px 11px 32px;
    border: 2px solid var(--text-color);
    border-radius: 24px;
    background-color: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.button--header {
    color: var(--text-color);
    border-color: var(--text-color);
}

.button--header:hover {
    background-color: var(--text-color);
    color: var(--text-dark);
}

.button--header:active {
    opacity: 0.6;
}

.button--cta {
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.button--cta:hover {
    background-color: var(--dark-green);
    color: var(--text-color);
}

.button--cta:active {
    opacity: 0.6;
}

/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 160px;
    height: 40px;
    object-fit: contain;
}


/* LINE */
.line {
    width: 50px;
    height: 4px;
}

.line--green {
    background-color: #79C8C7;
}

.line--red {
    background-color: var(--accent-red);
}



/* SITE-HEADER */
.site-header {
    padding-top: 70px;
    padding-bottom: 130px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 80px;
}
.site-header__inner {
    display: flex;
    align-items: center;
}

/* SITENAV */
.site-header__sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 40px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--accent-red);
}

.sitenav__link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-bottom: 250px;
}

.hero__container {
    display: flex;
}
.hero__title {
    width: 635px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.hero__title--strong {
    color: var(--accent-red);
}

.hero__info {
    width: 445px;
    flex-shrink: 1;
}

.hero__info--text {
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}



/* FEATURES */
.features {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--dark-green);
}

.features__inner {
    display: flex;
}

.features__title {
    margin-right: 125px;
    margin-top: 54px;
    margin-bottom: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.features__list {
    padding: 0;
    margin: 0;
    margin-top: 54px;
    list-style: none;
    flex-direction: column;
}
.features__item:not(:last-child) {
    margin-bottom: 32px;
}

.feature {
    display: flex;
}

.feature__img {
    width: 72px;
    height: 72px;
    margin-right: 24px;
    object-fit: cover;
}

.feature__title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--accent-red);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.feature__text {
    margin-top: 16px;
    margin-bottom: 0;
    font-style: normal;
}


/* STORIES */
.stories {
    padding-top: 140px;
    padding-bottom: 150px;
    background-color: var(--green-light);
}

.stories__title {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.stories__strong {
    color: var(--accent-dark-green);
}

.stories__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.stories__item:not(:last-child) {
    margin-right: 30px;
}

.story {
    text-align: center;
}

.story__text {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
}

.story__name {
    margin-top: 24px;
    margin-bottom: 2px;
    color: var(--accent-dark-green);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.story__position {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
}

.story__img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
}


/* CTA */
.cta {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: var(--accent-red);
}
.cta__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 260px;
    color: var(--dark-green);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--green-dark);
}
.site-footer__container {
    display: flex;
    align-items: center;
}

.site-footer__navigator {
    margin-right: 125px;
}

.site-footer__sitenav {
    margin-top: 25px;
}

.site-footer__address {
    flex-direction: column;
    margin-right: auto;
}

.site-footer__text {
    margin: 0;
    opacity: 0.6;
}

.socials__list {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 0;
    list-style: none;
}
.socials__item:not(:last-child) {
    margin-right: 16px;
}
.socials__link {
    color: #fff;
}

.socials__link:hover {
    color: var(--accent-red);
}

.socials__link:active {
    opacity: 0.6;
}

.site-footer__copyright {
    margin-top: 51px;
    margin-bottom: 0;
    text-align: right;
    opacity: 0.6;
}
