:root {
    --font-family: "Livvic", "Arial", sans-serif;
    --text-color: #fff;
    --accent-red: #F67E7E;
    --accent-dark-green: #79C8C7;
    --light-green: #014E56;
    --dark-green:  #012F34;
    --green-light:  #004047;
    --green-dark: #002529;

}


/* FONTS */
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--font-family);
    background-color: var(--light-green);
    font-weight: 600;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}
